@media(min-width: 900px){ 

    header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    
    }
    
    .header-container{
        width: 685px;
        display: flex;
        justify-content: space-between;
    
    }
    .add-value{
        width: 164px;
    }
    .financial-resum{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        margin-bottom: -30px;
    }
    .values-sum {
        margin-bottom: 40px;
        margin-top: 0;
    }
    }